
@{
    ViewData["Title"] = "Kurulum Tamamlandı.";
}

<h2>🎉 Kurulum Başarılı!</h2>
<p>Sisteminiz başarıyla yapılandırıldı. Devam etmek için lütfen aşağıdaki bağlantıyı kullanın.</p>

<a href="/Account/Login" class="btn btn-primary">Giriş Yap</a>